@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Comic Neue', cursive;
    margin: 3rem 5rem;
}

/* Header */
h1 {
    font-style: italic;
    display: inline;
    font-size: 3.7rem;
}

nav {
    display: inline-block;
    transform: translate(12%, -145%);
}

header a {
    padding: 2px 15px;
    margin: 2px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.443);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    top: 55px;
    right: 10px;
    background-color: rgb(68, 114, 196);
}

header a[href="#"] {
    background-color: rgb(112, 173, 71);
}

/* Sections */
.banner {
    text-align: center;
}

.banner>img {
    width: 99%;
    height: 300px;
    object-fit: cover;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

section h2 {
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: -7.5px;
    font-size: 1.9rem;
    font-weight: bolder;
}

.section-container {
    position: relative;
}

section aside {
    display: inline-block;
    position: relative;
    top: 20px;
    width: 15%;
}

.logo {
    width: 150px;
    margin: 20px 5px;
}

.main-content {
    display: inline-block;
    position: absolute;
    left: 15%;
    top: 10%;
    padding: 25px;
    font-size: larger;
    max-width: 78%;
}

.main-content>article,
.main-content>p {
    padding-bottom: 20px;
    padding-top: 10px;
}

.event-title {
    font-style: italic;
}

.about-title {
    font-size: 1.8rem;
}

.main-content>article>p {
    text-indent: 20px;
}