/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: "Comic Sans MS", cursive;
    margin: 3rem 5rem;
}

/* Header */

h1 {
    font-style: italic;
    display: inline;
    font-size: 55px;
    font-weight: 400;
}

nav {
    display: inline;
    /* PROPIEDAD FLOAT NO SE USA MAS, CAMBIAR POR TRANSFORM */
    float: right;
}

header a {
    padding: 2px 15px;
    margin: 2px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.443);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 22px;
    position: relative;
    top: 55px;
    right: 10px;
    background-color: rgb(68, 114, 196);
}

header a[href="#"] {
    background-color: rgb(112, 173, 71);
}

/* Sections */
.banner {
    text-align: center;
}

.banner>img {
    width: 99%;
    height: 300px;
    object-fit: cover;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
}

section h2 {
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: -7.5px;
}

section aside {
    display: inline-block;
    /* PROPIEDAD FLOAT NO SE USA MAS, CAMBIAR POR TRANSFORM */
    float: left;
    max-width: 15%;
}

.logo {
    width: 150px;
    margin: 20px 5px;
}

.main-content {
    display: inline-block;
    padding: 35px 50px;
    font-size: larger;
    max-width: 85%;
}

.main-content>article,
.main-content>p {
    margin-bottom: 20px;
    margin-top: 10px;
}

.main-content>article>p {
    text-indent: 20px;
}